body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.profile-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 40%; /* Reduced width */
  max-width: 800px; /* Increased max-width */
  margin-bottom: 20px;
  text-align: center;
  border: 3px solid black; /* Thicker border */
}

.profile-container h1 {
  color: #FF8C00;
  font-size: 2em;
  margin-bottom: 20px;
}

.info-box {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  padding: 20px;
  text-align: left;
  border: none;
  border-radius: 15px;
}

.info-box .info-title {
  font-weight: bold;
  color: #FF8C00;
}

.info-box .info-data {
  color: #333;
}

.rating {
  color: #FF8C00;
  font-size: 1.2em;
}

.button {
  background-color: #FF8C00;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 20px;
}

.button:hover {
  background-color: #FF7F00;
}

.reservations-title {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
  color: #FF8C00;
}

.reservations-container {
  width: 80%;
  max-width: 800px;
}

.reservation-card {
  display: flex;
  align-items: center;
  padding: 20px;
  border: 2px solid black;
  border-radius: 15px;
  margin-bottom: 20px;
  background-color: #fff;
}

.reservation-image {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border-radius: 10px;
  object-fit: cover;
}

.reservation-details {
  flex: 1;
  text-align: left;
}

.reservation-details h3 {
  margin: 0 0 10px;
  font-size: 1.5em;
  color: #FF8C00;
}

.reservation-details p {
  margin: 5px 0;
  color: #666;
}

.reservation-status {
  text-align: right;
}

.status-upcoming {
  color: orange;
  font-weight: bold;
}

.status-completed {
  color: green;
  font-weight: bold;
}
