body, html {
  margin: 0;
  padding: 0;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  font-family: 'Arial', sans-serif;
  background: #f1f3f6;
}

.header-container {
  margin-top: 0; /* Supprime la marge supérieure */
  width: 100%;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.main-content {
  
  flex: 1;
  display: flex;
  justify-content: flex-end; /* Align right */
  align-items: flex-start; /* Adjust to top */
  padding-right: 200px; /* Add padding to align with form */
  padding-top: 120px; /* Add padding to move the form up */
}

.signup-container {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  width: 400px;
  font-family: 'Arial', sans-serif;
}

.signup-title {
  font-size: 24px;
  color: #f2994a;
  text-align: center;
  margin-bottom: 20px;
}

.information-title {
  font-size: 18px;
  color: black;
  text-align: center;
  margin-bottom: 10px;
}

.signup-form input, .signup-form button {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

.signup-form button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  background-color: #e68300;
  border-radius: 4px;
  font-family: 'Arial', sans-serif;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 18px;
}

.signup-form button:hover {
  background-color: #f2994a;
}

footer {
  margin-top: 50px; /* Ajout de la marge supérieure */
  height: 100px;
}

.image-gauche {
  position: absolute; /* Relative to main-content */
  left: 150px;
  top: 0;
  width: 600px; /* Adjust size as needed */
  height: auto;
  padding: 60px; /* Reduce padding */
}

